[submodule "uintr"]
	path = uintr
	url = ./uintr
[submodule "tokio"]
	path = tokio
	url = https://github.com/tokio-rs/tokio.git
[submodule "uintr-core"]
	path = uintr-core
	url = https://github.com/XIPCAcc/uintr-core.git
